.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  height: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #fff;
  margin: 10px 0;
}

.popup__input:focus {
  outline: blueviolet solid 2px;
}

.popup__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}