.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
  height: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #fff;
  margin: 10px 0;
  color: #000;
}

.popup__input:focus {
  outline-color: blueviolet;
}
