.profile {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 120px 1fr 150px;
  width: 100%;
  column-gap: 30px;
  padding: 40px 0 51px;
  position: relative;
}

@media all and (max-width: 767px) {
  .profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 34px;
  }
}