.profile__add-button {
  border-radius: 2px;
  border: 1px solid #fff;
  background-color: #000;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;  
  transition-property: opacity;
  transition-duration: 0.5s;
  justify-self: end;
  padding: 0;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;

}

.profile__add-button:hover {
  opacity: 0.6;
}

@media all and (max-width: 767px) {
  .profile__add-button {
    width: 100%;
    max-width: 282px;
    background-size: 16px;
  }
}