.profile__container {
  display: flex;
  align-items: end;
  column-gap: 18px;
  box-sizing: border-box;
  overflow: hidden;
}

@media all and (max-width: 767px) {
  .profile__container {
    column-gap: 10px;
    padding-left: 29px;
  }
}