.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  position: relative;
  cursor: pointer;
}

.profile__avatar:hover::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  background-color:rgba(0, 0, 0, 0.5);
  z-index: 2;
}