.profile__info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;  
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
}

@media all and (max-width: 767px) {
  .profile__info {
    padding: 26px 0 34px;
  }
}