.edit-form__save-button {
  border-radius: 0;
  border: none;
  background-color: #000;
  color: #fff;
  height: 50px;
  box-sizing: border-box;
  cursor: pointer;  
  transition-property: opacity;
  transition-duration: 0.5s;
  justify-self: end;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 18px;
}

.edit-form__save-button:hover {
  opacity: 0.8;
}

@media all and (max-width: 767px) {
  .edit-form__save-button {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}